* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  width: fit-content;
}
.resume {
  text-decoration: none;
}
.title {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  min-height: 100%;
  max-width: 100%;
  margin: 0 auto;
}
.navigation {
  display: flex;
  justify-content: space-around;
  margin: 0px 20px;
}

.menu {
  width: 30px;
  height: 30px;
}
section {
  background-color: #e1b7bf;
  max-width: auto;
}
.heading {
  color: #59437a;
  padding: 30px 22px 30px 33px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}
.lineover {
  width: 111px;
  height: 6px;
  border-width: 6px;
  margin: 0 auto 0 0;
  border-color: #59437a;
  border-style: solid;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
}
.first {
  object-position: 100% 50%;
  width: 467px;
  height: 590px;
}
.mobile {
  display: block;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-size: 4.0625em;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1px;
  text-align: left;
  font-weight: 700;
  margin: 20px 0 0;
  word-break: break-all;
  position: relative;
  line-height: 60px;
}
.under {
  color: black;
  font-style: italic;
  margin: 23px 18px 0 0;
  word-wrap: break-word;
  position: relative;
}
a {
  text-decoration: none;
  color: black;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.btton {
  color: white;
  text-decoration: none;
  text-align: center;
}
.btton:hover {
  color: white;
  text-decoration: none;
}
.custombtn {
  width: 230px;
  height: 40px;
  background-color: #c262af;
  text-align: center;
  /* padding: 15px 94px 15px 93px; */
  padding-top: 4px;
  border-radius: 8px;
  background-image: none;
  letter-spacing: 2px;
  text-shadow: 0 0 0 rgb(0 0 0 / 0%);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  margin: 33px auto 0 0;
}
.custombtn:hover {
  background-color: #59437a;
  color: white;
}
.page2 {
  background-image: none;
  min-height: 210px;
}
.another {
  height: 131px;
  margin-top: 0;
  margin-bottom: 0;
  background-color: #e1b7bf;
}
.cards {
  grid-template-rows: repeat(1, auto);
  width: 1076px;
  margin: -181px auto -250px calc(((100% - 1140px) / 2) + 32px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.gridcards {
  display: grid;
  grid-template-columns: repeat(4, calc(25% - 22.5px));
  min-height: 110px;
  grid-gap: 30px;
}
.item1 {
  box-shadow: 5px 5px 20px 0 rgb(45 41 51 / 40%);
  box-sizing: border-box;
}
.inside {
  max-width: 100%;
  background-color: white;
  align-items: center;
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  max-width: 100%;
  box-sizing: border-box;
}
.square {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  padding: 23px;
  background-color: #efd6db;
  border-radius: 50%;
  /* align-items: center; */
  /* text-align: center; */
  box-sizing: border-box;
}
.strategy {
  width: max-content;
  height: max-content;
  /* color: #434992; */
}
figcaption {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: 700;
  margin: 23px auto 0;
  color: #434992;
  font-family: Montserrat, sans-serif;
  word-wrap: break-word;
  position: relative;
  text-align: center;
}
.expertise {
  display: flex;
  width: auto;
  height: auto;
  background-color: #59437a;
  color: white;
  /* z-index: -1; */
}

.myskills {
  height: auto;
  width: auto;
  margin: 0 auto;
}
.insideskil {
  width: auto;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  min-height: 400px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  padding: 0 2rem;
}
.u-layout-row {
  display: flex;
  flex: 1 1 100%;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  max-width: 100%;
}
.expertice {
  position: relative;
  display: flex;
  flex: 0 0 33.33333333%;
  width: auto;
  /* max-width: 33.33333333%; */
}
.inner {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 30px 26px;
  position: relative;
  max-height: 100%;
  min-width: 100%;
}
.innerbio {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.skil {
  letter-spacing: 3px;
  font-style: normal;
  font-size: 1.5rem;
  margin: 0;
  color: #d4c7e8;
  padding: 0;
  word-wrap: break-word;
  position: relative;
}
.font {
  font-family: Montserrat, sans-serif;
}
.text {
  text-transform: uppercase;
}
.expert {
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 3rem;
  margin: 20px 0 0;
}
.decade {
  font-size: 1.25rem;
  margin: 32px 0 0;
  word-wrap: break-word;
  position: relative;
  color: #d4c7e8 !important;
  text-align: left;
  float: left;
  line-height: 1.6;
  font-family: "Open Sans", sans-serif;
}
.resume {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 20px auto 0 0;
  padding: 10px 42px 10px 40px;
  color: white;
  background-color: #c262af;
  border-radius: 8px;
}
.container2 {
  min-height: 400px;
  display: flex;
  flex-direction: column;
  margin-left: 60px;
  position: relative;
  flex: 1;
  justify-content: flex-start;
  text-align: left;
}
.u-layout-row > .child {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}
/* .ulists {
  width: auto;
  line-height: 1.6;
  word-wrap: break-word;
} */

li {
  font-size: 1.25rem;
  list-style: none;
}

.icon {
  display: inline-block;
  position: absolute;
  width: 1em;
  min-height: 1em;
  height: auto;
  left: -1.5em;
  fill: currentColor;
  text-align: center;
}
.card {
  /* margin-top: 0px; */
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Montserrat";
}
.value {
  color: #c262af;
  margin: 50px 11px 0;
  font-family: Montserrat;
  font-size: 4.5rem;
  font-weight: 700;
}
.personal {
  margin: 0 auto;
  width: 1140px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.line {
  width: 100%;
  /* background-color: violet; */
  border-color: #59437a;
  margin-top: 0;
  margin-bottom: 0;
  height: 15px;
  transform-origin: left center;
  border-width: 15px;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-style: solid;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
  margin-top: 0;
  position: relative;
}
.container3 {
  width: 575px;
  margin: 55px auto 0 60px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.urepeater {
  /* flex: 1; */
  display: grid;
  grid-template-columns: repeat(2, 50%);
  min-height: 716px;
  grid-gap: 32px;
}
.u-container-style {
  width: 575px;
  min-height: 416px;
  height: auto;
  margin: 40px auto 0 60px;
}
.u-container-layout {
  padding-bottom: 30px;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  /* max-width: 100%; */
}
.u-align {
  font-weight: 700;
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
  position: relative;
  color: #59437a !important;
  word-wrap: break-word;
  text-align: left;
}
.u-para {
  /* font-family: Poppins; */
  /* font-size: 1.125rem; */
  line-height: 2;
  margin: 20px 0 0;
  color: #59437a;
  word-wrap: break-word;
  text-align: left;
  padding: 0;
}
.u-button {
  background-image: none;
  letter-spacing: 1px;
  text-shadow: 0 0 0 rgb(0 0 0 / 0%);
  font-size: 1.125rem;
  text-transform: uppercase;
  font-weight: 700;
  border-style: none;
  padding: 15px 125px 15px 123px;
  background-color: #c262af;
  border-width: 0;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  margin: 18px auto 0 0;
}
.u-button:hover {
  background-color: #59437a;
  color: white;
}
.u-expanded {
  width: 403px;
  min-height: 1172px;
  height: auto;
  margin: -1172px 62px 55px auto;
  text-align: left;
  color: #ffffff;
  background-color: #59437a;
  position: relative;
}
.u-container5 {
  padding: 50px 30px;
  justify-content: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 1;
  max-width: 100%;
  text-align: left;
  color: white;
}
.all {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 0.875rem;
  margin: 50px 0 0;
}
.para {
  font-size: 1.13rem;
  letter-spacing: 1px;
  /* font-family: Poppins; */
  font-weight: 500;
  line-height: 1;
  margin: 12px 0 0;
}
.social {
  height: 24px;
  min-height: 16px;
  width: 125px;
  min-width: 94px;
  margin: 20px auto 0 0;
  display: flex;
}
.facebook {
  width: 25px;
  height: 25px;
  margin-right: 15px;
}
.experience {
  display: flex;
  flex-direction: column;
  min-height: 1819px;
  /* justify-content: center; */
  width: 1140px;
  margin: 0 auto;
  position: relative;
}

.exp {
  font-size: 4.5rem;
  /* font-family: Poppins; */
  text-transform: none;
  font-weight: 700;
  margin: 60px auto 0;
  letter-spacing: 1px;
  color: #59437a !important;
}
.custompara {
  text-align: center;
  font-size: 1.25rem;
  /* font-family: Poppins; */
  font-weight: 700;
  width: 724px;
  margin: 34px auto 0;
  word-wrap: break-word;
  position: relative;
}
.u-list {
  height: auto;
  width: 867px;
  margin: 34px auto 0;
  display: flex;
  flex-direction: column;
}
.u-repeater {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  min-height: 1364px;
  grid-gap: 10px;
}
.u-container6 {
  display: flex;
  position: relative;
  text-align: left;
  padding: 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.hrline {
  margin-top: 0;
  margin-bottom: 0;
  height: 3px;
  transform-origin: left center;
  border-right-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-color: #59437a;
  border-width: 2px;
  border-style: solid;
  width: 100% !important;
  margin-left: 0 !important;
  margin-right: 0;
}
.custcolor {
  color: #59437a;
}
.custom-font {
  font-size: 1rem;
  /* font-family: Poppins; */
  margin: 20px 632px 0 0;
  color: #59437a;
  word-wrap: break-word;
  position: relative;
}
.u-container7 {
  width: 598px;
  min-height: 286px;
  height: auto;
  margin: -20px 0 0 auto;
}
.u-innercontainer {
  padding: 0 30px 30px;
}
.custhead {
  font-weight: 700;
  /* font-family: Poppins; */
  margin: 0 auto 0 0;
}
.custp {
  font-size: 1.25rem;
  /* font-family: Poppins; */
  margin: 20px 0 0;
}
.deco {
  display: flex;

  color: #59437a;
  margin: 20px auto 0 0;
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 700;
}
.deco:hover {
  color: #59437a;
}
.mybtn {
  margin: 0 auto 60px;
}
.u-clearfix {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
}
.u-price {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-style: normal;
  margin: 60px auto 0;
  color: #d4c7e8;
  word-wrap: break-word;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1.2;
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-price {
    font-size: 2.5rem;
  }
}
.u-text {
  font-weight: 700;
  margin: 13px auto 0;
  font-size: 3rem;
  line-height: 1.1;
  letter-spacing: 1px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-text {
    font-size: 4rem;
  }
}
.u-textp {
  font-size: 1.25rem;
  width: 542px;
  margin: 18px auto 0;
  color: #d4c7e8 !important;
  word-wrap: break-word;
  position: relative;
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-textp {
    font-size: 1.5rem;
  }
}
.u-clearfix {
  width: 976px;
  margin: 33px auto 0;
}
@media (min-width: 768px) and (max-width: 991px) {
  .u-clearfix {
    width: auto;
    font-size: 1.5rem;
    margin: 33px auto;
  }
}
.u-container8 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 100%;
  max-width: 100%;
  flex: 1 1 100%;
  text-align: left;
}
.cust-list {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 2;
  margin: 0;
}

.inninner {
  padding: 30px;
}

.mybuton {
  margin: 0 auto 10px;
}
.mybuton:hover {
  background-color: white;
  color: #c262af;
}
.cust-list .u-list-icon > :first-child {
  display: inline-block;
  position: relative;
  margin: -0.8em;
  font-size: 0.8em;
  width: 1em;
  height: 1em;
  vertical-align: middle;
  line-height: 0.9;
  color: #e1b7bf;
  fill: #e1b7bf !important;
}
.u-list-icon {
  display: inline-block;
  /* position: absolute; */
  width: 1em;
  min-height: 1em;
  height: auto;
  left: -1.5em;
  fill: currentColor;
  text-align: center;
}

.cust-list li {
  position: relative;
  margin-left: 1.4em;
}
.u-section3 {
  min-height: 1206px;
  display: flex;
  flex-direction: column;
}
.soft {
  color: #c262af;
  font-weight: 700;
  margin: 60px auto 0;
  font-size: 3.75rem;
  letter-spacing: 2px;
}
.allcards {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: -303px;
}
.u-carddiv {
  height: 328px;
  margin-top: 273px;
  position: relative;
  background-color: #59437a;
}

.ourcard {
  padding: 30px;
  max-width: fit-content;
  height: fit-content;

  position: relative;
  /* height: 100%; */
  flex-direction: column;
}
.u-layout-col {
  /* margin-top: -13rem;
  width: 80%; */
  display: flex;
  /* display: grid; */
  flex-wrap: nowrap;
  gap: 50px;
  /* grid-template-columns: 410px 410px 410px; */
  justify-content: space-between;
}
.card-img-top {
  /* max-width: 13rem; */
  width: fit-content;
  height: 214px;
  margin-top: 0;
  margin-bottom: 0;
}
.thetitle {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 20px auto 0;
}
.thetext {
  margin-left: 0;
  margin-right: 0;
  line-height: 1.8;
  margin-bottom: 0;
  margin-top: 20px;
}
.u-thebutton {
  position: relative;
  color: #c262af;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}
.ccard {
  width: 18rem;
}
.u-conthidden {
  min-height: 269px;
  flex: 30 0 50%;
}
.u-cont-layout {
  position: relative;
  flex: 1;
  max-width: 100%;
  padding: 30px;
}
.crds {
  width: 1140px;
  margin: -246px auto 0;
}
.card-2 {
  margin-top: 154px;
}
.card-3 {
  margin-top: 308px;
}
.container9 {
  height: 816px;
  width: auto;
  display: flex;
  /* grid-template-columns: 50% 50%; */
}
.inner9 {
  width: 50%;
  padding: 30px 90px;
  align-items: left;
  display: flex;
  height: fit-content;
  flex-direction: column;
  justify-content: center;
  flex: 1 1 auto;
}
.demo {
  color: #59437a;
  font-size: 3.75rem;
  font-weight: 700;
  margin: 0;
}
.demo-para {
  letter-spacing: normal;
  text-transform: none;
  font-weight: 400;
  text-decoration: none solid rgb(128, 128, 128);
  margin: 13px 106px 0 0;
  font-size: 1.25rem;
  color: #808080;
  word-wrap: break-word;
}
.form {
  margin-top: 20px;
}
.form-input {
  border-style: none;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
  border-radius: 7px;
  padding: 10px 12px;
  font-size: 1.25rem;
}
.inner9-2 {
  width: 50%;
  background-color: #59437a;
}
.bio {
  padding: 50px 80px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* align-items: left; */
  line-height: 1.6;
}
.bio-para {
  color: #d4c7e8;
  font-size: 1.375rem;
  margin: 92px 0 0;
}
.profile {
  width: 131px;
  height: 131px;
  border-radius: 50%;
}
.prof {
  display: flex;
  flex-direction: row;
  margin: 30px 0 0;
  width: max-content;
  /* justify-content: space-between; */
}
.mikkel {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  font-weight: 700px;
  font-size: 1.875rem;
  word-wrap: break-word;
  word-break: break-all;
  white-space: pre-wrap;
}
.names {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  text-align: left;
  /* margin: 0 auto; */
  letter-spacing: 1px;
  font-family: sans-serif;

  margin-left: 30px;
}
.my-para {
  color: #d4c7e8;
  font-style: italic;
  font-size: 1rem;
  line-height: 1.6;
  word-wrap: break-word;
  margin-top: 134px;
}
.anchor {
  /* padding-top: 120px; */
  /* text-decoration: none; */
  color: #d4c7e8;
}
.myfooter {
  background-color: #333333;
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  word-wrap: break-word;
}
.footer-2 {
  margin-top: 0;
}
.second {
  color: #d4c7e8;
}
@media only screen and (max-width: 945px) {
  .inner9 {
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .experience {
    width: 940px;
  }
}
@media (min-width: 536px) and (max-width: 991px) {
  .experience {
    width: auto;
  }
  .exp {
    font-size: 5.5rem;
  }
  .custompara {
    font-size: 1.25rem;
  }
  .custom-font {
    font-size: 1.3rem;
  }
  .custhead {
    font-size: 2.5rem;
  }
  .custp {
    font-size: 2rem;
  }
  .deco {
    font-size: 1.7rem;
  }
  .u-button {
    margin-top: 2rem;
    font-size: 1.7rem;
  }
}
@media (min-width: 536px) and (max-width: 991px) {
  li {
    font-size: 1.9rem;
  }
  .soft {
    font-size: 5rem;
    text-align: center;
    margin-right: calc(((100% - 1140px) / 2) + 280px);
    margin-left: calc(((100% - 1140px) / 2) + 280px);
  }
  .u-layout-col {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 90px;
    gap: 20px;
    font-size: 1.6rem;
    /* margin-top: -185px; */
    margin-bottom: 90px;
  }
  .allcards {
    margin-left: 0px;
    margin-right: 0px;
  }
  .card1,
  .card-2 {
    width: 47%;
    height: fit-content;
  }
  .card-2 {
    margin-top: 0px;
  }
  .card-3 {
    margin: 0 px;
    width: 100%;
    height: fit-content;
    margin-top: 0px;
  }
  .u-section3 {
    height: max-content;
  }
  .u-layout-row {
    margin: 0 80px;
  }
  .img3 {
    height: 100%;
  }
  .inner9 {
    padding: 40px;
  }
  .demo {
    font-size: 4.6rem;
  }
  .demo-para {
    font-size: 1.55rem;
    margin-right: 0px;
  }
  .form-input {
    height: 4.2rem;
  }
  .form-input::placeholder {
    font-size: 1.2rem;
  }
  .bio-para {
    font-size: 1.5rem;
    margin: 0px;
  }
  .bio {
    padding: 40px;
  }
  .my-para {
    font-size: 1.2rem;
    margin-top: 100px;
  }
  h6 {
    line-height: 0;
  }
  .all {
    font-family: "Open Sans", sans-serif;
  }
  .profile {
    width: 11.2rem;
    height: 11.2rem;
  }
  .mikkel {
    font-size: 2.3rem;
  }
  .custombtn {
    text-align: center;
    height: 5rem;
    width: 30rem;
    vertical-align: middle;
    font-size: 1.9rem;
    /* padding: 200px; */
  }
  .btton {
    vertical-align: middle;
    text-align: center;
  }
  .gridcards {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 446px;
  }
  .another {
    height: 281px;
    margin-top: 0;
  }
  .cards {
    width: 638px;
    margin-top: -320px;
    margin-left: calc(((100% - 1140px) / 2) + 251px);
  }
  .page2 {
    min-height: 447px;
  }
  .myskills {
    min-height: 986px;
  }
  .expertice {
    font-size: 0rem;
    height: 866px;
  }
  .decade {
    font-size: 1.6rem;
  }
  .resume {
    padding-top: 19px;
    padding-right: 120px;
    padding-left: 120px;
    padding-bottom: 19px;
    font-size: 1.45rem;
  }
  .insideskil {
    padding: 90px 0px;
  }
  .ulists {
    font-size: 1px;
  }
  .container2 {
    min-height: 566px;
  }
  li {
    font-size: 1.5rem;
  }
  .personal {
    min-height: 2191px;
  }
  .u-expanded {
    margin: 0px;
  }
  .container3 {
    width: auto;
    margin: 30px 90px 60px 90px;
  }
  .urepeater {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }
  .ccard {
    width: 100%;
  }
  .value {
    font-size: 7rem;
  }
  .card-title {
    font-size: 1.8rem;
  }
  .card-text {
    font-size: 1.25rem;
  }
  .u-container-style {
    width: auto;
    margin: 30px 90px;
  }
  .u-align {
    font-size: 3rem;
  }
  .u-para {
    font-size: 2rem;
  }
  .u-button {
    /* width: 50%; */
    text-align: center;
    /* height: 10%; */
    padding-bottom: 30px;
  }
  .u-expanded {
    width: auto;
    margin: 0 90px;
    height: auto;
  }
  .all {
    font-size: 1.5rem;
  }
  .para {
    font-size: 2rem;
    padding-bottom: 40px;
  }
  .facebook {
    width: 3rem;
    height: 3rem;
    /* margin-bottom: 40px; */
  }
  .social {
    height: auto;
    margin-bottom: 30px;
  }
  .width {
    width: 50%;
  }
}
@media (max-width: 1199px) {
  .crds {
    /* width: 940px; */
    /* margin-top: -450px; */
  }
}
@media (max-width: 535px) {
  .title {
    flex-direction: column-reverse;
  }
  .mobile {
    font-size: 7.5rem;
    line-height: 1;
  }
  .lineover {
    width: 19rem;
    /* height: 14rem; */
    border-width: 0.5rem;
  }

  .navigation {
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }
  .navigation > .logo {
    width: 9rem;
    height: 5rem;
  }
  .heading {
    padding: 0 7rem;
    margin-top: 5rem;
  }
  .menu {
    width: 5rem;
    height: 5rem;
  }
  .aboutbtn {
    width: 80%;
    height: 7rem;
    /* text-align: center; */
    padding-top: 1rem;
    font-size: 3rem;
    margin-right: 30rem;
  }
  .cards {
    height: max-content;
  }
  .page2 {
    height: 120rem;
  }
  .first {
    width: 100%;
    height: 100%;
  }
  .gridcards {
    margin: -255px auto 0px;
    width: 70%;
    height: auto;
    grid-template-columns: repeat(1, 100%);
  }
  .square {
    height: 11rem;
    width: 11rem;
  }
  .item1 {
    width: 100%;
    height: 35rem;
    background-color: white;
    padding-top: 20%;
  }
  .inside {
    padding: 2rem 10rem;
  }
  figcaption {
    font-size: 2.5rem;
  }
  .insideskil {
    width: auto;
    margin: 9rem 4rem;
  }
  .u-layout-row {
    flex-direction: column;
  }
  .skil {
    font-size: 3rem;
  }
  .expert {
    font-size: 5rem;
  }
  .decade {
    font-size: 2.8rem;
  }
  .resume {
    text-decoration: none;
    /* width: 50%; */
    height: 7rem;
    font-size: 2.8rem;
    letter-spacing: 0.3rem;
    padding: 1rem 9rem;
  }
  .container2 {
    margin: 2rem 4rem;
  }
  li {
    font-size: 2.8rem;
  }
  .container3 {
    width: 80%;
    margin: 3rem auto;
  }
  .urepeater {
    /* margin: 0 auto;   */
    text-align: center;
    /* align-items: center; */
    grid-template-columns: repeat(1, 100%);
  }
  .ccard {
    width: 100%;
    height: 40rem;
  }
  .line {
    /* height: 9rem; */
    border-width: 1.5rem;
  }
  .card-title {
    font-size: 3rem;
  }
  .card-text {
    padding: 1rem;
    font-size: 2.4rem;
  }
  .value {
    font-size: 10rem;
  }
  .personal {
    justify-content: center;
    flex-direction: column;
  }

  .u-expanded {
    margin: 0;
  }
  .u-container-style {
    width: auto;
  }
  .u-align {
    font-size: 4rem;
  }
  .u-para {
    font-size: 3rem;
  }
  .u-button {
    width: auto;
    height: 7rem;
    padding-top: 1.3rem;
    font-size: 3rem;
  }
  .u-expanded {
    width: auto;
    margin: 10px 3rem;
  }
  .all {
    font-size: 3rem;
  }
  .para {
    font-size: 2.5rem;
    margin-bottom: 4.5rem;
  }
  body {
    width: fit-content;
  }
  .u-container5 {
    padding-left: 7rem;
    margin-bottom: 7rem;
  }
  .facebook {
    width: 4.5rem;
    height: 4.5rem;
    margin-right: 3rem;
  }
  .social {
    width: auto;
    height: auto;
  }
  .experience {
    width: auto;
    height: auto;
    padding: 3rem 5rem;
  }
  .exp {
    text-align: left;
    margin: 0;
    font-size: 7rem;
  }
  .custompara {
    text-align: left;
    margin: 2rem 0;
    width: auto;
    font-size: 3rem;
  }
  .u-list {
    margin: 0;
    width: auto;
  }
  .u-repeater {
    min-height: auto;
  }
  .hrline {
    border-width: 0.2rem;
  }
  .custom-font {
    font-size: 2.5rem;
    margin: 0;
  }
  .u-container6 {
    gap: 2rem;
  }
  .u-container7 {
    width: auto;
    height: auto;
    /* font-size: 4rem; */
  }
  .u-innercontainer {
    padding: 0;
  }
  .custhead {
    font-size: 4rem;
  }
  .custp {
    font-size: 3rem;
  }
  .deco {
    font-size: 3rem;
    margin: 4rem 0;
  }
  .mybtn {
    margin-top: 4rem;
    font-size: 3rem;
    padding: 3rem 18rem;
    height: fit-content;
  }
  .expertise {
    padding: 3rem 3rem;
  }
  .u-clearfix {
    width: auto;
    /* margin: 3rem 3rem 0 3rem; */
    justify-content: left;
    /* text-align: left; */
  }
  .u-price,
  .u-text,
  .u-textp,
  .u-clearfix {
    margin: 0;
    font-size: 4rem;
    width: auto;
    padding: 2rem;
  }
  .u-container8 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .cust-list {
    padding: 0;
  }
  .cust-list li {
    margin: 0;
  }
  .mybuton {
    margin-top: 4rem;
    font-size: 3rem;
    padding: 3rem 18rem;
    height: fit-content;
  }
  .soft {
    text-align: center;
    font-size: 6rem;
  }
  .u-carddiv {
    height: 40rem;
  }
  .allcards {
    margin-top: -40rem;
  }
  .crds {
    margin-top: 0;
  }
  .u-layout-col {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 90px;
    /* gap: 20px; */
    font-size: 1.6rem;
    margin-top: -185px;
    margin-bottom: 90px;
  }
  .card-3,
  .card-2 {
    margin: 0;
  }
  .card-img-top {
    height: auto;
  }
  .thetitle {
    font-size: 3rem;
  }
  .u-thebutton {
    font-size: 3rem;
  }
  .thetext {
    font-size: 2.6rem;
  }
  .container9 {
    height: auto;
    flex-direction: column;
  }
  .inner9 {
    width: auto;
    padding: 6rem 22%;
  }
  .demo {
    font-size: 7rem;
  }
  .demo-para {
    font-size: 3rem;
  }
  .form-input {
    width: auto;
    height: auto;
    font-size: 3.25rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 2rem;
  }

  .inner9-2 {
    width: auto;
  }
  .bio-para {
    font-size: 3rem;
  }
  .prof {
    justify-content: center;
    flex: 1 1 0;
    width: 100%;
    gap: 2rem;
  }
  .innerbio {
    gap: 2rem;
  }
  .profile {
    height: auto;
    width: auto;
  }
  .names {
    width: 20%;
  }
  .mikkel {
    font-size: 4rem;
  }
  .appd {
    font-size: 2rem;
  }
  .my-para {
    font-size: 2rem;
    margin-top: 3rem;
  }
  .first {
    font-size: 2rem;
  }
  .footer-2 {
    margin-top: 5rem;
    font-size: 2rem;
  }
  .lists {
    font-size: 3rem;
  }
}
